{% extends "layout.html" %}
{% block navbar %}
      <a class="btn btn-primary" href="/signup">Sign Up</a>
      {% endblock %}
{% block body %}
{% with errors = get_flashed_messages() %}
<div class="container">
    <h2>Log In</h2>
    {% if form.email.errors or errors or form.password.errors %}
    <form class="was-validated" method="POST" id="login">
        {{ form.csrf_token }}
        <div class="form-group">
        <label >email:</label>
        {{ form.email(class="form-control", placeholder="email") }}
        <div class="valid-feedback">Valid.</div>
        {% for error in form.email.errors %}
        <div class="invalid-feedback">{{ error }}</div>
        {% endfor %}
        {% for error in errors %}
        <div class="invalid-feedback">{{ error }}</div>
        {% endfor %}
      </div>
      <div class="form-group">
        <label >password:</label>
        {{ form.password(class="form-control", placeholder="password") }}
        <div class="valid-feedback">Valid.</div>
        {% for error in form.password.errors %}
        <div class="invalid-feedback">{{ error }}</div>
        {% endfor %}
      </div>
      <button type="submit" class="btn btn-primary">Submit</button>
    </form>
    {% else %}
    <form method="POST" id="login">
        {{ form.csrf_token }}
        <div class="form-group">
        <label >email:</label>
        {{ form.email(class="form-control", placeholder="email") }}
      </div>
      <div class="form-group">
        <label >password:</label>
        {{ form.password(class="form-control", placeholder="password") }}
      </div>
      <button type="submit" class="btn btn-primary">Submit</button>
    </form>
    {% endif %}
  </div>

{% endwith %}
{% endblock %}